*{
    margin: 0;
    padding: 0;
    width: auto;
    max-height: 690px;
}
.nome{
    color: white;
    background-color: rgb(34, 34, 34);
}
.fundo{
    background-image: url('../img/foto-mate.jpg');
    height: 100vh;
    color: rgb(56, 52, 52);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgb(154, 154, 194);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border-radius: 30%;
    color: #fff;
    margin: 3px;
}
.botao--zero{
    border-radius: 15%;
}
.botao--igual{
    border-radius: 15%;
}
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 20px;
    margin: 5px;
    color: black;
    text-align: right;
    padding: 5px;
}
.rodape{
    padding: 3px;
    font-size: large;
    text-align: center;
    color: white;
    background-color: rgb(34, 34, 34);
}